<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.linxing.appConfiguration.dao.AppConfigurationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.linxing.appConfiguration.entity.AppConfiguration">
        <id column="id" property="id" />
        <result column="configuration_name" property="configurationName" />
        <result column="configuration_value" property="configurationValue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, configuration_name, configuration_value
    </sql>

</mapper>
