<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhlg.module.linxing.appProductSpecification.dao.AppProductSpecificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhlg.module.linxing.appProductSpecification.entity.AppProductSpecification">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="specification_name" property="specificationName" />
        <result column="specification_value" property="specificationValue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        product_id,
        specification_name,
        specification_value,
    </sql>

    <select id="queryByCondition" parameterType="com.dhlg.utils.common.Parameter" resultType="com.dhlg.module.linxing.appProductSpecification.entity.AppProductSpecification">
        select * from app_product_specification
        <trim prefix="where" prefixOverrides="and">
            <if test="parameter.condition != null and parameter.condition.productId !=null and parameter.condition.productId !='' ">
                product_id=#{parameter.condition.productId}
            </if>
        </trim>
    </select>

    <delete id="deleteByProductId" parameterType="int">
        delete from app_product_specification where product_id=#{productId}
    </delete>

</mapper>
